#about {
  background-color: @aboutColor;
  padding-bottom: 10px;

  header{
    text-align: center;
    margin: 3% 0 5%;
    >img{
      width: 150px;
      height: 150px;
      border-radius: 77px;
      border: 4px solid @contactColor;
    }
    >h1{
      margin: .2em;
      font-size: 2em;
    }
  }
}
