// BG Color
@aboutColor: #FFFFFF;
@skillsColor: #F2F2F2;
@contactColor: #1D2026;

// Skills
@iterations: 10;
@skillColors: #C99B81 #C99B81 #E5CC3B #EA7061 #6772E1 #15E667 #A5704F #15E667 #E15D51 #26ACAE;


html, body {
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  background: @contactColor;
  color: @contactColor;
}

h1 {
  font-size: 2.2em;
  margin-top: 10px;
}

section, footer {
  display: inline-block;
  width: 80%;
  padding: 0 10%;
  h1{
    text-align: center;
  }
}
.container {
  padding: 0;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

@import "_about.less";
@import "_skills.less";
@import "_contact.less";
